{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>
<form action="{% url 'displayCategory' %}" method="POST">
    {% csrf_token %}
    Choose category
    <select name="category" id="category">
        {% for item in categories %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <button type="submit">Select</button>
</form>

<article style="display: grid; grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); row-gap: 10px">
    {% for listing in listings %}
        <div>
            <h2>{{listing.title}}</h2>
            <img style="min-width: 150px; min-height: 100px; max-height: 20vw; max-width: 15vw;"src="{{listing.imageUrl}}" alt="Product"">
            <p>{{listing.description}}</p>
            <p>${{listing.price.bid}}</p>
            <a href="{% url 'listing' id=listing.id %}"><button>Info</button></a>
            {% if isListingInWatchList %}
                <button id="removeFromWatchlistBtn" data-listing-id="{{ listing.id }}">Remove from Watchlist</button>
            {% else %}    
                <button id="addToWatchlistBtn" data-listing-id="{{ listing.id }}">Add to Watchlist</button>
            {% endif %}
            <script>
                $(document).ready(function () {
                    $(".addToWatchlistBtn").click(function (event) {
                        event.preventDefault();

                        var button = $(this);
                        var url = "addWatchList"
                        var listingId = button.attr("data-listing-id");

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { listing_id: listingId },
                            success: function (response) {
                                button.text('Added to Watchlist');
                                button.css('background-color', 'green');
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(errmsg);
                            }
                        });
                    });

                    $(".removeFromWatchlistBtn").click(function (event) {
                        event.preventDefault();

                        var button = $(this);
                        var url = "removeWatchList";
                        var listingId = button.attr("data-listing-id");

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { listing_id: listingId },
                            success: function (response) {
                                button.text('Removed from Watchlist');
                                button.css('background-color', 'red');
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(errmsg);
                            }
                        });
                    });
                });
            </script>
        </div>
    {% endfor %}
</article>
{% endblock %}